services:
  garage:
    container_name: garage
    image: dxflrs/garage:v2.1.0
    restart: unless-stopped

    volumes:
      - garage-data:/var/lib/garage/data
      - garage-meta:/var/lib/garage/meta
      - ./config/garage.toml:/etc/garage.toml:ro
    
    ports:
      - 3900:3900
      - 3901:3901
      - 3903:3903
