services:
  garage:
    image: dxflrs/garage:v2.1.0

    volumes:
      - garage-data:/var/lib/garage/data
      - garage-meta:/var/lib/garage/meta
      - ./config/garage.toml:/etc/garage.toml:ro
    
    ports:
      - 3900:3900
      - 3901:3901
      - 3903:3903

  postgresql:
    image: postgres

    environment:
      - POSTGRES_USER=${DB_USER:-fyf}
      - POSTGRES_PASSWORD=${DB_PASSWORD:?no db password}
      - POSTGRES_DB=${DB_DB:-fyf}

    volumes:
      - pg-data:/var/lib/postgresql/

    ports:
      - 5432:5432

  redis:
    image: redis
    
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD:?no redis password}

    command: redis-server --requirepass ${REDIS_PASSWORD}

    ports:
      - 6379:6379

volumes:
  garage-data:
  garage-meta:
  pg-data:
